*{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 40px;
}
.header button {
    height: 51px;
    width: 100px;
}
.librarycontainer {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.librarycontainer button {
    height: 60px;
    width: 160px;
    margin-top: 40px;
    font-size: 20px;
}
.individualcards {
    min-height: 250px;
    width: 300px;
    text-align: center;
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid lightblue;
    border-radius: 10px;
}
#libraries {
    display: flex;
    margin: 30px;
}
#libraries button {
    height: 40px;
    width: 270px;
    margin-bottom: 10px;
}
.individualcards p strong {
    font-size: 30px;
}

.status {
    background-color: lightgreen;
}
button {
    border: none;
    border-radius: 15px;
}
